/*電腦版*/
/* width */
.react::-webkit-scrollbar {
 width: 10px;
}
  
  /* Track */
  .react::-webkit-scrollbar-track {
 background: #FF3333;
}
  
  /* Handle */
  .react::-webkit-scrollbar-thumb {
 background: #ffee99;
 border-radius: 5px;
}
  
  /* Handle on hover */
  .react::-webkit-scrollbar-thumb:hover {
 background: #ffc8b4;
}
.gamecontainer {
	background: #58b5da;
	max-width: 800px;
	width: 720px;
	height: 550px;
	border-radius: 20px;
	overflow-x: hidden;
}
.airplane_container {
}
.messenger img {
	height: 50px;
	width: 50px;
	background: #404040;
	padding: .5rem;
	border-radius: 10px;
	position: relative;
	top: 5rem;
	right: 12rem;
	z-index: 999;
}
.messenger-content {
	background: #404040;
	border-radius: 10px;
	padding: 10px 15px;
	width: 200px;
	height: 50px;
	display: inline-table;
	margin-left: 5rem;
	position: relative;
	top: -2.4rem;
	font-size: 18px;
	text-align: left;
	z-index: 999;
}


#m1{
display:none;
}

#m2{
display:none;
}

#m3{
display:none;
}

#m4{
display:none;
}

#m5{
display:none;
}

#m6{
display:inline-table;
}

#m7{
display:none;
}

#m8{
display:none;
}

#m9{
display:none;
}

#m10{
display:none;
}

#m11{
display:none;
}

.airplane {
	width: 400px;
}
#runway {
	width: 100%;
	position: absolute;
	top: 300;
	display: none;
	z-index: 102;
}
#explosionimg {
	display: none;
}
#cloud {
	z-index: 1;
	width: 100%;
	position: relative;
}
.react {
	z-index: 100;
	position: relative;
	background: #ED6A5A;
	height: 550px;
	overflow: auto;
	border-radius: 0px 20px 20px 0px;
}
.react p {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: 300;
}
.question {
	text-align: left;
	padding: 3rem;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
.question p {
	font-size: 20px;
	color: #FFFFFF;
}
.answer {
	width: 100%;
	text-align: center;
	position: relative;
	overflow: auto;
}
.react .btn {
	font-size: 16px;
	background-color: #fff;
	width: 80%;
	height: 50px;
	margin: 1rem;
	justify-content: center;
}
.explain {
	padding: 3rem;
	font-size: 20px;
	color: #fff;
	display: none;
	line-height: 150%;
	margin: 0 auto;
	text-align: left;
	overflow: auto;
	max-height: px;
}
.explain hr {
	color: #fff!important;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid #fff!important
}
.explainbutton {
	background-color: #FFDD71!important;
	width: 90%!important;
	margin: 1rem!important;
	color: #1B1B1B!important;
}
#q2 {
	display: none;
}
#q2a {
	display: none;
}
#q3 {
	display: none;
}
#q3a {
	display: none;
}
#q4 {
	display: none;
}
#q4a {
	display: none;
}
#q5 {
	display: none;
}
#q5a {
	display: none;
}
#end {
	padding: 50px 70px 30px 70px;
	margin: 0 auto;
}
#again {
	display: none;
	min-width: 150px;
	margin: 0 auto;
}
.qa_container {
	padding: 0px 20px;
}

/*手機版*/
@media(max-width:576px) {
	.airplane_container {
		height: 300px;
	}

.gamecontainer {
	background: #58b5da;
	min-width: 300px;
	width: 350px;
	height: 500px;
	border-radius: 20px;
	justify-content: center;
}

.messenger img {
	height: 50px;
	width: 50px;
	background: #404040;
	padding: .5rem;
	border-radius: 10px;
	position: relative;
	top: 14rem;
	right: 12rem;
	z-index: 99;
}

.messenger-content {
	background: #404040;
	border-radius: 10px;
	padding: 10px 15px;
	width: 200px;
	height: 50px;
	display: inline-table;
	margin-left: 3rem;
	position: relative;
	top: 9rem;
	font-size: 14px;
	text-align: left;
	z-index: 99;
}

.airplane {
	width: 350px;
	height: 200px;
	background: #58b5da;
	overflow: hidden;
}
.question {
	text-align: left;
	padding: 1px 20px 0px 10px;
	margin: 0 1em 0 0.5em;
	width: 100%;
	position: relative;
}
.q p {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 300;
}
.score {
	font-size: 13px;
}
.react {
	z-index: 100;
	position: relative;
	background: #ED6A5A;
	height: 250px;
	width: 350px;
	min-width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 0px 20px 20px 0px;
}
.react p {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}
#cloud {
	z-index: 1;
	width: 100%;
	height: auto;
	position: relative;
}
.react .btn {
	font-size: 14px;
	background-color: #fff;
	display: inline-block;
	width: 70%;
	height: 50px;
	margin: .5rem 0px;
	vertical-align: middle;
}
.qa_container .btn {
	padding: 0px 40px;
	width: 30%;
	margin-right: 10px;
}
.explainbutton {
	height: 40px;
	width: 140px;
}
.explain {
	font-size: 14px;
	padding: 20px;
}
.explain p {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}
.end {
	font-size: 14px;
	padding: 30px;
}
}
